/* You can add global styles to this file, and also import other style files */

.bg-img
{
    /* background-image: url('/assets/image/login.jpg'); */
    background-position: center;
    background-repeat: repeat; 
}

.bg-profile
{
    color:white;
    background-color: #AFB6B1;
}

html,
body {
    height: 100%;
}


body{
    margin:0;
}