<cdk-virtual-scroll-viewport itemSize="100">

    <li *cdkVirtualFor="let player of  playerDetails;" class="animated slideInRight">

        <mat-card class="example-card">

            <div class="row">
                <div class="col-sm-6">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{player.user_name}}</mat-card-title>
                        <mat-card-subtitle>{{player.id}}</mat-card-subtitle>
                    </mat-card-header>
                </div>
            </div>
            <mat-card-content>

                <div class="row">
                    <div class="col-md-6 left">
                        Email ID
                    </div>
                    <div class="col-md-6">
                        {{player._pk_email_id}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 left">
                        Gender
                    </div>
                    <div class="col-md-6">
                        {{player.gender}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 left">
                        Date Of Birth
                    </div>
                    <div class="col-md-6">
                        {{player.dob}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 left">
                        Blood Group
                    </div>
                    <div class="col-md-6">
                        {{player.blood_group}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 left">
                        State
                    </div>
                    <div class="col-md-6">
                        {{player.state}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 left">
                        City
                    </div>
                    <div class="col-md-6">
                        {{player.city}}
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 left">
                        Active Status
                    </div>
                    <div class="col-md-6">
                        {{player.active_status}}
                    </div>
                </div>

            </mat-card-content>
            <mat-card-actions class="social-btn">
                <button mat-button class="like-btn">LIKE</button>
                <button mat-button class="share-btn">SHARE</button>
            </mat-card-actions>
        </mat-card>
    </li>

</cdk-virtual-scroll-viewport>
<div class="row">
    <div class="activity-btn">
        <a mat-fab (click)="addTaskForm()">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>