<form name="form" [formGroup]="form" autocomplete="on"  (ngSubmit)=" form.valid && onSubmit()" enctype="multipart/form-data">
  <div class="container center_div">
    <div class="row">
      <div class="col-lg-6">
        <fieldset class="fieldset1">
          <h3>
            <span class="text-wrapping">REGISTER</span>
          </h3>
          <hr>
        
          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Email id </span><span title="required" class="requiredField">*</span>
            </div>
            <div class="col-sm-8">
              <label for="email-id">
                <input  id="email-id" class="form-control" type="email"  placeholder="Enter your email"
                  formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">
                <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                  <div *ngIf="form.get('email').errors.required">{{validationMessages.email.required}}</div>
                  <div *ngIf="form.get('email').errors.email">{{validationMessages.email.email}}</div>
                </div>
              </label>
            </div>
          </div>
        
          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>User Name </span><span title="required" class="requiredField">*</span>
            </div>
            <div class="col-sm-8">
              <label for="user-name">
                <input  id="user-name" class="form-control" type="text" name="text[uname]" placeholder="Enter your userName"
                formControlName="username" [ngClass]="{'is-invalid':form.get('username').touched && form.get('username').invalid}">
                <div *ngIf="form.get('username').touched && form.get('username').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('username').errors.required">{{validationMessages.username.required}}</div>
                    <div *ngIf="form.get('username').errors.pattern"> {{validationMessages.username.pattern}}</div>
                  </div>
              </label>
            </div>
          </div>
        
          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Password </span><span title="required" class="requiredField">*</span>
            </div>
            <div class="col-sm-8">
              <label for="pwd">
                <input  id="pwd" class="form-control" type="password" name="text[pwd]" placeholder="********" 
                formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}">
                <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
                  <div *ngIf="form.get('password').errors.required">{{validationMessages.password.required}}</div>
                  <div *ngIf="form.get('password').errors.pattern">{{validationMessages.password.password}}</div>
                  <ng-template #other_reason>other content here...</ng-template>
                </div>
              </label>
            </div>
          </div>
        
          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Confirm Password </span><span title="required" class="requiredField" >*</span>
            </div>
            <div class="col-sm-8">
              <label for="cpassword">
                <input  id="cpassword" class="form-control" type="password" placeholder="********"
                formControlName="cpassword" [ngClass]="{'is-invalid':form.get('cpassword').touched && form.get('cpassword').invalid}">
                <div *ngIf="form.get('cpassword').touched && form.get('cpassword').invalid" class="invalid-feedback">
                  <div *ngIf="form.get('cpassword').errors.required">{{validationMessages.cpassword.required}}</div>
                </div>
              </label>
            </div>
          </div>
        
          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Security Question </span><span title="required" class="requiredField">*</span>
            </div>
            <div class="col-sm-8">
              <select id="security-question"  formControlName="squestion"   name="text[squestion]" class="blood">
                <option *ngFor="let question of securityQuestion" [value]="question">{{question}}</option>
              </select>
            </div>
          </div>	

          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>SecurityAnswer </span><span title="required" class="requiredField">*</span>
            </div>
            <div class="col-sm-8">
              <label for="security" >
                <input type="text" name="text[security]" id="security" class="form-control" placeholder="Enter the Security Answer" 
                formControlName="sanswer" [ngClass]="{'is-invalid':form.get('sanswer').touched && form.get('sanswer').invalid}">
                <div class="invalid-feedback">
                  <div>{{validationMessages.sanswer.required}}</div>
                </div>
              </label>
            </div>
          </div>
        
        </fieldset>
      </div>

      <div class="col-12 col-lg-6 decor">
        <span class="badge badge-pill badge-secondary">NOTE</span> 
        <br><br>
        <ol>
          <li> The username should be unique </li>
          <li> password should contains atleast:
            <ol *ngFor="let pwd of passwordHint">
              <li>{{pwd}}</li>
            </ol> 
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div  class="col-12 col-lg-5 decor">
        <span class="badge badge-pill badge-primary">Disclaimer</span>
        <br><br>
        <p> {{disclaimer}}
        </p>
      </div>
      <div class="col-12 col-lg-7">
        <br><br>
        <fieldset class="fieldset1">
          <h3>
            <span class="text-wrapping">Personal Information </span>
          </h3>
          <hr>
        
          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Player's Name </span><span title="required" class="requiredField">*</span>
            </div>
            <div class="col-sm-8">
              <label for="fname" >
                <input type="text" name="text[fname]" id="fname" class="form-control" placeholder="Enter the players's Name"
                formControlName="pname" [ngClass]="{'is-invalid':form.get('pname').touched && form.get('pname').invalid}"> 
                <div *ngIf="form.get('pname').touched && form.get('pname').invalid" class="invalid-feedback">
                  <div *ngIf="form.get('pname').errors.required">{{validationMessages.name.required}}</div>
                  <div *ngIf="form.get('pname').errors.pattern"> {{validationMessages.name.pattern}}</div>
                </div>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Alias Name </span>
            </div>
            <div class="col-sm-8">
              <label for="aname">
                <input type="text" name="text[aliasname]" formControlName="aname" class="form-control" placeholder="Enter the alias name" id="aname">
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Blood Group </span>
            </div>
            <div class="col-sm-3">
              <select name="text[blood]"  id="bgroup" class="blood" formaControlName="blood">
                <option *ngFor="let blood of bloodGroup" [value]="pow">{{blood}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row"> 
            <div class="col-sm-4 col-form-label">
              <span>Date of Birth </span><span title="required" class="requiredField">*</span>
            </div>
            <div class="col-sm-8">
              <label for="birth-date">
                <input type="date" name="text[birth-date]"  id="birth-date" class="form-control"
                formControlName="dob" [ngClass]="{'is-invalid':form.get('dob').touched && form.get('dob').invalid}"> 
                <div *ngIf="form.get('dob').touched && form.get('dob').invalid" class="invalid-feedback">
                  <div *ngIf="form.get('dob').errors.required">{{validationMessages.dob.required}}</div>
                  <div *ngIf="form.get('dob').errors.bday">{{validationMessages.dob.bday}}</div>
                </div>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Gender </span><span title="required" class="requiredField">*</span>
            </div>
            <div  class="col-sm-8" id="gender">
              <label for="male">
                <input type="radio" id="male" name="text[gender]"value="M" checked>&nbsp;M &nbsp;
              </label>
              <label for="female">
                <input type="radio"  id="female" name="text[gender]" value="F">&nbsp;F&nbsp;
              </label>
              <label for="other">  
                <input type="radio" id="other" name="text[gender]" value="O">&nbsp;O&nbsp;
              </label>
            </div>
          </div>

          <div class="form-group row"> 
            <div class="col-sm-4 col-form-label">
              <span>Mobile Number</span>
            </div>
            <div class="col-sm-8" >
              <label for="mobileno">
                <input type="tel" name="text[mobile]" id="mobileno" placeholder="Enter the Mobile number" class="form-control"
                formControlName="mobile" [ngClass]="{'is-invalid':form.get('mobile').touched && form.get('mobile').invalid}">
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Alternate Number</span>
            </div>
            <div class="col-sm-8">
              <label for="altno">
                <input type="tel" name="text[altmobile]" id="altno" placeholder="Enter the Alternate number" class="form-control"
                formControlName="altno" [ngClass]="{'is-invalid':form.get('altno').touched && form.get('altno').invalid}"> 
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <br><br>
  
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <fieldset class="fieldset1">
          <h3>
            <span class="text-wrapping">Address & Certificates</span>
          </h3>
          <hr>
        
          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Locality</span>
            </div>
            <div class="col-sm-8">
              <label for="address">
                <input type="text" name="text[locality]" id="address" placeholder="Enter the locality" class="form-control"
                formControlName="locality" [ngClass]="{'is-invalid':form.get('locality').touched && form.get('locality').invalid}" >
              </label>
            </div>
          </div>	
        
          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>City</span>
            </div>
            <div class="col-sm-8">
              <label for="city">
                <input type="text" name="text[city]" id="city" placeholder="Enter the city" class="form-control"
                formControlName="city" [ngClass]="{'is-invalid':form.get('city').touched && form.get('city').invalid}">
              </label>
            </div>
          </div>
        
          <div class="form-group row"> 
            <div class="col-sm-4 col-form-label">
              <span>State</span>
            </div>
            <div class="col-sm-8">
              <select name="text[state]" class="blood" id="state" formControlName="state" >
                <option *ngFor="let state of states">{{state}}</option>
              </select>
            </div>
          </div>	
        
          <div class="form-group row"> 
            <div class="col-sm-4 col-form-label">
              <span>ProfilePicture</span>
            </div>
            <div class="col-sm-8">
              <input type="file" name="file" id="file"
              formControlName="profile" [ngClass]="{'is-invalid':form.get('profile').touched && form.get('profile').invalid}"> 
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Fitness Certificate</span>
            </div>
            <div class="col-sm-8"> 
              <input type="file" name="fitness"  id="fpic" 
              formControlName="fcftk" [ngClass]="{'is-invalid':form.get('fcftk').touched && form.get('fcftk').invalid}">
            </div>
          </div>
  
          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <span>Certification</span>
            </div>
            <div class="col-sm-8"> 
              <input type="file" name="achievement" id="cpic"  multiple
              formControlName="cftk" [ngClass]="{'is-invalid':form.get('cftk').touched && form.get('cftk').invalid}"> <br>
            </div>
          </div>
        </fieldset>
      </div>
      
      <div class="col-12 col-lg-6 decor">
        <span class="badge badge-pill badge-primary">OR</span>
        <hr>
        <span class="badge badge-pill badge-danger">Connect Using Social Sites </span>
        <br><br>
        <div class="text-center">
          <a class="btn btn-social-icon btn-facebook " href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
          <a class="btn btn-social-icon btn-linkedin " href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
          <a class="btn btn-social-icon btn-twitter " href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
          <a class="btn btn-social-icon btn-google " href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
          <a class="btn btn-social-icon " href="mailto:"><i class="fa fa-envelope fa-lg"></i></a>
        </div>
      </div>

    </div>
  </div>
  <hr> 

  {{ form.value | json }}
  
  <div class="container">
    <div id="buttonId" class="row">
      <div class="form-group col-sm-6 offset-sm-2">
        <button  type="submit" [disabled]="form.invalid"  name="submit" id="submitBtn" class="btn btn-primary">Submit </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" name="reset" id="resetBtn" class="btn btn-info">Reset</button> 
      </div>
    </div>
  </div>
</form>
<!--  -->