
    .blood {
        color:blue;
    }
    
    .text-wrapping {
        background-color:orange;
        color:white;
        text-align:center;
        font-family:monospace;
        margin-right:50px;
    }

    hr {
        border-style: solid;
        margin-right: 50px;
        margin-left: 50px;
    }

    .form-container {
        max-width:10px;
        padding:15px;
        background-color:white;
    }
       
    .decor {
         margin-top:10%;
    }
    
    .fieldset1 {
        padding:5%;
        border: 20px groove;
    }
    
    span {
        color:white;
    }

    .col-sm-4 {
          background: url(https://www.google.com/url?sa=i&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwjPss_h7qfjAhWNA3IKHdZiCYcQjRx6BAgBEAU&url=https%3A%2F%2Fwww.baamboostudio.com%2Fweebly-tips-making-the-text-on-background-or-header-images-stand-out%2F&psig=AOvVaw2ad5iogUDaC0U7OiujS1fB&ust=1562762672836778);
    } 

    div {
        color:white;
        font-weight:bold;
        font-size: 18px;
    }

    label, .blood ,#file, #fpic ,#cpic{
        margin-left:20%;
    }

    .col-form-label {
        font-size:20px;
        font-weight:bold;
        color:white;
    }

    .btn-social-icon {
        font-size:60px;
    }

    .error-hint {
        font-style: italic;
        font-size : 70%;
        color:red;
    }