.profile-data{
    color:white;
    font-size: 50px;
}

.example-card {
    max-width: 400px;
    margin-top:13%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .bg-tab{
    background-color:lightslategray;
    height:100%;
    color:white;
    font-size:20px;
  }

  .label{
    color:white;
    font-size: 15px;
    font-display: bold;
    display: block;
    margin-top:5%;
  }

  .value {
    outline: 2px solid #CFBBFE;
    color: #FFE8CB;
    font-size:25px;
    font-weight:solid;
    margin-top:5%;
  }

  .mat-card{
    background-color: #ffa69e;
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
  }

  .col-lg-12 {
    text-align:center;
    display:inline-block;
  }

  .status {
    text-align:center;
    display:inline-block;
    margin-top:5%;
  }

  .row {
    margin-top:2%;
    margin-left:1px;
    margin-right:1px;
    height:60vh;
  }
  .white-text{
    color:white;
    font:white;
    font-size:15px;
  }

  .calender {
    padding-top:4%;
  }