#delete-btn {
    background: url(../../../assets/image/delete.jpg);
}

.img {
    height: 50px;
}

.spacer {
    flex: 1 1 auto;
}

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bold;
    font-size: 1.3vw;
    justify-content: center;
    color: white;
    /* text-decoration: underline; */
    justify-items: center;
    margin-left: 30%;
    margin-top: -6%
}

.mat-label {
    font-size: 22px;
}

.header {
    height: 12px;
    background-color: #2E77BB;
}