cdk-virtual-scroll-viewport {
    height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    li {
      height: 500x;
      margin: 10px;
      padding: 10px;
      background: whitesmoke;
  
      box-shadow: 2px 2px 3px rgba($color: #888888, $alpha: 0.2);
    }
    &::-webkit-scrollbar {
      width: 1em;
    }
  
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgb(238, 169, 79);
    }
  }

  img {
    box-sizing: border-box;
    width:100%;
    height:50%;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-card-image {
  }

  .activity-btn {

    z-index:5; 
    position : fixed;
    display : flex; 
    align-self : flex-end;
    bottom : 10%;
    left : 90%;
  }

mat-card-title {
  font-weight: bold;
}

mat-card-subtitle{
  font-weight: bold;
}

.col-md-6 {
  font-size:25px;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  padding-left:5%
}

.left {
  text-decoration: underline;
}
