<button mat-raised-button (click)="addTaskForm()" color="accent">Add Task</button>

<cdk-virtual-scroll-viewport itemSize="100">

  <li *cdkVirtualFor="let task of  taskDetail;" class="animated slideInRight">

    <mat-card class="example-card">

      <div class="row">
        <div class="col-sm-6">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{task.user_name}}</mat-card-title>
            <mat-card-subtitle>{{task.id}}</mat-card-subtitle>
          </mat-card-header>
        </div>
      </div>
      <mat-card-content>

        <div class="row">
          <div class="col-md-6 left">
            Email ID
          </div>
          <div class="col-md-6">
            {{task._pk_email_id}}
          </div>
        </div>

        <div class="row">
            <div class="col-md-6 left">
              Gender
            </div>
            <div class="col-md-6">
                {{task.gender}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 left">
              Date Of Birth
            </div>
            <div class="col-md-6">
                {{task.dob}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 left">
              Blood Group
            </div>
            <div class="col-md-6">
                {{task.blood_group}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 left">
              Real Name
            </div>
            <div class="col-md-6">
                {{task.plaayer_name}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 left">
              State
            </div>
            <div class="col-md-6">
                {{task.state}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 left">
              City
            </div>
            <div class="col-md-6">
                {{task.city}}
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-6 left">
             Active Status
            </div>
            <div class="col-md-6">
                {{task.active_status}}
            </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </li>

</cdk-virtual-scroll-viewport>
<div class="row">
  <div class="activity-btn">
    <a mat-fab (click)="addTaskForm()">
      <mat-icon>add</mat-icon>
    </a>
  </div>
</div>