<button mat-raised-button color="primary" (click)="adminLogin()">Admin</button>
<form name="logForm" [formGroup]="logForm" (ngSubmit)=" logForm.valid && onSubmit()" autocomplete="on">
  <div class="container">
    <fieldset class="login-block">
      <hr>
      <div class="form-group row">

        <div class="col-md-4 col-form-label">
          <span class="field-title">Email id </span><span title="required" class="required-field">*</span>
        </div>

        <div class="col-md-8">
          <label for="email-id " class="field-format">
            <input id="email-id" type="text" name="user_name" class="form-control" placeholder="Enter User Name here"
              formControlName="user_name"
              [ngClass]="{'is-invalid':logForm.get('user_name').touched && logForm.get('user_name').invalid}">
            <mat-icon matSuffix class="face-icon">sentiment_very_satisfied</mat-icon>
            <div *ngIf="logForm.get('user_name').touched && logForm.get('user_name').invalid" class="invalid-feedback">
              <div *ngIf="logForm.get('user_name').errors.required">{{validationMessages.user_name.required}}</div>
              <!-- <div *ngIf="logForm.get('user_name').errors.email">{{validationMessages._pk_email_id.email}}</div> -->
            </div>
          </label>
        </div>

      </div>

      <div class="form-group row">

        <div class="col-md-4 col-form-label">
          <span class="field-title">Password </span><span title="required" class="required-field">*</span>
        </div>

        <div class="col-md-8">
          <label for="pwd" class="field-format">
            <input id="pwd" class="form-control" type="password" name="password" placeholder="Enter Password Here"
              formControlName="password"
              [ngClass]="{'is-invalid':logForm.get('password').touched && logForm.get('password').invalid}">
            <div *ngIf="logForm.get('password').touched && logForm.get('password').invalid" class="invalid-feedback">
              <div *ngIf="logForm.get('password').errors.required">{{validationMessages.password.required}}</div>
              <div *ngIf="logForm.get('password').errors.minlength">{{validationMessages.password.minlength}}</div>
            </div>
          </label>
        </div>

      </div>

      <div class="container">
        <div class="row ">
          <div class="col-md-8 ">
            <button type="submit" name="submit" [disabled]="logForm.invalid" id="submitBtn" class="btn btn-primary">LOG
              IN</button>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="info-text"> <span class="info" >still Not a Member Yet .. 
          </span><a routerLink= "../signup"> Click Here..</a>
        </div>
      </div>

    </fieldset>
  </div>
</form>