    .text-wrapping {

        color:white;
        font-family:monospace;
        margin-top:40%;
        margin-left:17%;
        padding-left:10%;
        padding-right:40%;
        border-radius:20px;
        text-align:center;
    }

    hr {
        border-style: solid;
        margin-right: 50px;
        margin-left: 50px;
    }

    .form-container {
        max-width:10px;
        padding:15px;
        background-color:white;
    }
       
    .decor {
         margin-top:10%;
    }
    
    #email-id {
        width:100%;
        height:40px;
    }

    #pwd {
        width:100%;
        height:40px;
    }
    .face-icon {
        width:100%;
        height:40px;
    }

    .field-format{
        width:100%;
        height:40px;
    }

    .required-field{
        font-size: 20px;
        font-weight:bold;
        color:red;
    }

    .field-title {
        font-size:20px;
        font-weight:bold;
        color:white;
        padding-left:10%;
        padding-top:15%;
        margin-top:10%;
    }
    .login-block {
        border-style: solid;
        border-color: #585858;
        background-color: #F6FAD3;
        background: url(https://images.unsplash.com/photo-1536246862516-8644a8f3ccdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);
        border-width:10px;
        border-radius: 64px;
        margin-top:10%;
        margin-bottom:5%;
    }

    .field-format {
       padding-left:10%;
       padding-right:10%;
       padding-top:5%;
    }

    .form-group {
        padding-left:10%;
        padding-right:10%;
        padding-top:5%;
    }

    .btn {
        margin-top:10%;
        margin-left:13%;
        width:40%;
    }
    .info {
        margin-top:30%;
        padding-top:30%;
        color:white;
    }

    .info-text{
        margin-top:5%;
        margin-left:33%;
        font-size:100%;
    }

    .title {
        margin-left:20%;
        margin-right:20%;
        color:white;
        font-weight:bold;
        font-size:300%;
        justify-content: center;
    }

    @media(min-width: 760px) {

        .login-block {
            border-style: solid;
            border-color: #585858;
            background-color: #F6FAD3;
            background: url(https://images.unsplash.com/photo-1536246862516-8644a8f3ccdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);
            border-width:10px;
            border-radius: 64px;
            margin-top:10%;
            margin-bottom:5%;
            margin-left:20%;
            margin-right:30%;
            justify-content: center;
            width:60%;
        }
      
      }