<div class="container">
    <mat-card class="header">
        <mat-card-title class="heading">Assign Tasks</mat-card-title>
    </mat-card>
    <form [formGroup]="taskForm">
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Assigned By</mat-label>
                        <input matInput id="assigned_by" type="text" name="text[uname]" placeholder="" name="assigned_by" formControlName="assigned_by" readonly>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>User Name</mat-hint>
                        <mat-error>This Field is required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Activity Name</mat-label>
                        <input matInput id="activity_name" type="text" placeholder="Enter Activity" name="activity_name" formControlName="activity_name">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-error>This Field is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput [matDatepicker]="start_picker" placeholder="Start Date" formControlName="start_date">
                        <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
                        <mat-datepicker #start_picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput [matDatepicker]="end_picker" placeholder="End Date" formControlName="stop_date">
                        <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
                        <mat-datepicker #end_picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Start Time</mat-label>
                        <input matInput id="start_time" type="time" name="text[uname]" placeholder="" name="start_time" formControlName="start_time">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Start_time</mat-hint>
                        <mat-error>This Field is required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Stop Time</mat-label>
                        <input matInput id="end_time" type="time" placeholder="Enter stop time" name="end_time" formControlName="end_time">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-error>This Field is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <!-- <mat-form-field appearance="standard">
            <mat-label>Assigned To</mat-label>
            <input matInput type="text" name="assigned_to" id="assigned_to" placeholder="Enter the name"
              formControlName="assigned_to">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>whom You want to assign </mat-hint>
          </mat-form-field> -->
                    <mat-form-field>
                        <mat-label>Assigned To</mat-label>
                        <mat-select formControlName="assigned_to" multiple>
                            <mat-option *ngFor="let user of all_user" [value]="user">{{user.user_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Comment</mat-label>
                        <input matInput type="tel" name="alt_mob_no" id="altno" placeholder="Enter the Comment" formControlName="comment">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- Doubt About recurring goals here,,-->

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-radio-group aria-label="Select if it is a recurring tasks">
                        <mat-radio-button value="Daily" (click)="removeTheChildNode()">Daily</mat-radio-button>&nbsp;
                        <mat-radio-button value="Weekly" (click)="createWeeklyCheckbox()">Weekly</mat-radio-button>&nbsp;
                        <mat-radio-button value="Once" (click)="removeTheChildNode()" checked>Once</mat-radio-button>&nbsp;
                    </mat-radio-group>
                </div>
            </div>
            <div id="weekly" class="col-sm-6">
                <!-- <mat-radio-group aria-label="Select if it is a recurring tasks" multiple> -->
                <div>
                    <mat-checkbox value="sunday">S</mat-checkbox>&nbsp;
                    <mat-checkbox value="monday">M</mat-checkbox>&nbsp;
                    <mat-checkbox value="tuesday">T</mat-checkbox>&nbsp;
                </div>
                <div>
                    <mat-checkbox value="wednesday">W</mat-checkbox>&nbsp;
                    <mat-checkbox value="thurshday">T</mat-checkbox>&nbsp;
                    <mat-checkbox value="friday">F</mat-checkbox>&nbsp;
                    <mat-checkbox value="saturday">S</mat-checkbox>&nbsp;
                </div>
                <!-- </mat-radio-group> -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <button type="submit" mat-button color="accent" [disabled]="taskForm.invalid" (click)="processSubmission() "><img class="task-img" src="../../assets/image/addTaskICon.png"></button>
            </div>
            <span class="spacer"></span>
            <div clas="col-sm-6">
                <button mat-button color="accent" (click)="closeForm()"><img class="img" src="../../assets/image/close.png"></button>
            </div>
        </div>
    </form>
</div>