text-area {
    width: 60%;
    border: 2px;
    border-color: black;
    height: 20%;
    resize: none;
}

mat-form-field {
    margin-top: 1%;
    width: 60%;
    height: 40%;
}

.my-drop-zone {
    border: solid 1px lightgray;
    border-radius: 8%;
    height: 60%;
    width: 80%;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
}

.nv-file-over {
    border: solid 1px red;
}


/* Default class applied to drop zones on over */

.another-file-over-class {
    border: solid 1px green;
}

html,
body {
    /* height: 100%; */
}

.image-text {
    justify-content: center;
    text-align: center;
}

.file-uploader {
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 5%;
    justify-content: center;
    text-align: center;
}

.scroll::-webkit-scrollbar {
    width: 1em;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(238, 169, 79);
}

.scroll {
    margin-right: 1%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 40vh;
}

.add-photo {
    overflow-x: hidden;
    overflow-y: hidden;
}

.drag-image {
    overflow: hidden;
}

.row {
    overflow: hidden;
}

.image-div {
    margin-top: 10%;
}

td {
    font-size: 12px;
    font-weight: normal;
}

.image-div {
    background: url(../../assets/image/drop.jpg);
}

.drop-img {
    height: 220px;
    width: 200px;
}

.well {
    border-color: plum;
    border-radius: 50px;
    border: 5px;
}

.file-uploader {
    border: 50px;
    border-color: plum;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 10%;
    margin-top: 10%;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

th {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #24a0ed;
    text-align: center;
    justify-content: center;
}

td {
    font-family: sans-serif;
    font-weight: none;
}

.img {
    height: 30px;
}


/* Virtual ScrollBar*/

cdk-virtual-scroll-viewport {
    height: 50vh;
    width: 60%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    li {
        height: 500x;
        margin: 10px;
        padding: 10px;
        background: whitesmoke;
        box-shadow: 2px 2px 3px rgba($color: #888888, $alpha: 0.2);
    }
    &::-webkit-scrollbar {
        width: 0.1em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(238, 169, 79);
    }
}

img {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
}

.example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    // background-size: cover;
}

.mat-card-image {}

.activity-btn {
    z-index: 5;
    position: fixed;
    display: flex;
    align-self: flex-end;
    bottom: 10%;
    left: 90%;
}

mat-card-title {
    font-weight: none;
}

mat-card-subtitle {
    font-weight: none;
}

.col-md-6 {
    font-size: 18px;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    padding-left: 5%
}

.left {
    text-decoration: underline;
}

.social-btn {
    margin-left: 10px;
    padding-left: 20px;
}

.share-btn {
    margin-left: 3%;
}

.scroller {
    margin-left: 0%;
    padding-left: 0%;
}

.social-icon {
    height: 50px;
    width: 15px;
    opacity: 5;
}