<!-- <div class="container"> -->
<div class="main-container">
    <div class="row">
        <div class="col-md-9">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="btn-group">
                        <button mat-raised-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">Previous</button>
                        <!-- <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                            Previous
                        </div> -->
                        <button mat-raised-button mwlCalendarToday [(viewDate)]="viewDate">Today</button>
                        <!-- <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                            Today
                        </div> -->
                        <button mat-raised-button color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">Next</button>

                        <!-- <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                            Next
                        </div> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>
                <div class="col-md-4">
                    <div class="btn-group">

                        <!-- <button mat-raised-button (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">Month</button> -->
                        <div class="btn btn-primary" color="primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                            Month
                        </div>

                        <!-- <button mat-raised-button (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">Week</button> -->

                        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                            Week
                        </div>
                        <!-- <button mat-raised-button (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">Day</button> -->

                        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                            Day
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="scroll" style="overflow-y:scroll; overflow-x: hidden; height:68vh;">
                <div class="inside-scroll">
                    <div [ngSwitch]="view">
                        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-day-view>
                    </div>
                </div>
            </div>
        </div>

        <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

        <br /><br /><br />
        <div class="edit-activity col-md-3">

            <!--  need to change for the actions -->
            <h3>
                Tasks::-
                <div class="clearfix"></div>
            </h3>

            <br>
            <div class="table-responsive scroll">
                <table class="table table-bordered css-serial">
                    <thead>
                        <tr>
                            <!-- <th>Activity Id</th> -->
                            <!-- <th>Primary color</th> -->
                            <th>SI.No.</th>
                            <th>Task Name</th>
                            <th>Start Date</th>
                            <!-- <th>Assigned by</th> -->
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let event of events">
                            <td> &nbsp;
                            </td>
                            <td>
                                {{event.title}}
                            </td>
                            <td>
                                {{event.start_date | date}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="activity-btn">
                <a mat-fab (click)="addTaskForm()">
                    <mat-icon>add</mat-icon>
                </a>
            </div>
            <ng-template #modalContent let-close="close">
                <div class="modal-header">
                    <h5 class="modal-title">Tasks On Hand</h5>
                    <button type="button" class="close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div>
                        Date:
                        <pre>{{ modalData?.date}}</pre>
                    </div>
                    <div>
                        Tasks:
                        <!-- <pre>{{ modalData?.eventsToShow | json }}</pre> -->
                        <ul *ngFor="let modal of modalData?.eventsToShow">
                            <li (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"> {{modal.title}} {{modal.start |date }} <button mat-button color="accent" (click)="viewTask(modal)">Details</button></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" (click)="close()">
                        OK
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</div>