@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme($app-primary, $app-accent);
@mixin mix-app-theme($app-theme) {
    $primary: map-get($app-theme, primary);
    $accent: map-get($app-theme, accent);
    .mat-button-toggle {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }
    .mat-button-toggle-checked {
        background-color: mat-color($accent);
        color: mat-color($accent, default-contrast);
    }
}

// Include the mixin
@include mix-app-theme($app-theme);
h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.container {
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-left: 0.5%;
}

.main-container {
    margin-top: 1%;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
    width: 1em;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(238, 169, 79);
}

.scroll {
    margin-right: 1%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 62vh;
}

.inside-scroll {
    margin-right: 1%;
    margin-left: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

.col-md-3 {
    padding-left: 1px;
    margin-left: 0px;
}

.table {
    justify-content: center;
    overflow-x: hidden;
}

.edit-activity {
    overflow-x: hidden;
}

.activity-btn {
    z-index: 8;
    position: fixed;
    display: flex;
    align-self: flex-end;
    bottom: 10%;
    left: 95%;
}

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #ffffff;
    text-align: center;
}

th {
    background-color: white;
}


/* Automatic Serial Number Row */

.css-serial {
    counter-reset: serial-number;
    position: relative;
    /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
    counter-increment: serial-number;
    /* Increment the serial number counter */
    content: counter(serial-number);
    /* Display the counter */
}

#day-btn {
    margin-left: -1px;
    padding-left: -1px;
    color: "primary"
}