<div class="container">
    <form [formGroup]="taskForm">
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Assigned By</mat-label>
                        <input matInput id="assigned_by" type="text" name="text[uname]" placeholder="" name="assigned_by" formControlName="assigned_by" value={{data.message.assigned_by}} readonly>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Activity Name</mat-label>
                        <input matInput id="activity_name" type="text" placeholder="Enter Activity" name="activity_name" formControlName="activity_name" value={{data.message.activity_name}} readonly>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Start Date</mat-label>
                        <input matInput value="{{data.message.start_date |date }}" type="text" readonly>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Stop Date</mat-label>
                        <input matInput value="{{data.message.stop_date | date }}" type="text" readonly>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Start Time</mat-label>
                        <input matInput id="start_time" type="time" name="text[uname]" placeholder="" name="start_time" formControlName="start_time" value={{data.message.start_time}} readonly>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Stop Time</mat-label>
                        <input matInput id="end_time" type="time" placeholder="Enter stop time" name="end_time" readonly formControlName="end_time" value={{data.message.end_time}}>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <!-- <mat-form-field appearance="standard">
            <mat-label>Assigned To</mat-label>
            <input matInput type="text" name="assigned_to" id="assigned_to" placeholder="Enter the name"
              formControlName="assigned_to">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>whom You want to assign </mat-hint>
          </mat-form-field> -->
                    <mat-form-field>
                        <mat-label>Assigned To</mat-label>
                        <mat-select formControlName="assigned_to" multiple readonly>
                            <mat-option *ngFor="let user of all_user" [value]="user">{{user.user_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <mat-form-field appearance="standard">
                        <mat-label>Comment</mat-label>
                        <input matInput type="tel" name="alt_mob_no" id="altno" placeholder="Enter the Alternate number" formControlName="comment" value={{data.message.comment}} readonly>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <button type="submit" mat-button color="accent" (click)="deleteActivity()">Delete</button>
            </div>

            <div clas="col-sm-6">
                <button mat-button color="accent" (click)="closeDialog()">Close</button>
            </div>
        </div>
    </form>
</div>